.host-wrapper {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  padding-top: 5px;
}

.host-tabs, .host-players, .current-question {
  color: black;
  margin: 5px;
}

.host-logo {
  top: 10px;
  width: 165px;
  color: #313aa6;
  position: absolute;
  text-align: center;
  font-size: xxx-large;
  font-weight: bolder;
}

.host-divider {
  border: 1px solid #cdcdcd;
}

.host-settings {
  top: 10px;
  right: 10px;
  width: 128px;
  color: black;
  position: absolute;
  text-align: center;
  font-size: xxx-large;
  z-index: 999;
}

.host-players {
  display: inline-block;
}

.done-counter {
  width: 100px;
}

.current-question > .mat-form-field {
  width: 100%;
}

.player-points {
  width: 60px;
  margin: 0 5px;
}

.sound-bar {
  color: black;
  display: inline-block;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.04);
  margin: 5px;
}
