<h1 class="host-logo">nerq</h1>
<div class="host-settings">
  <a
    href="/board"
    mat-button
    target=”_blank”
    title="open board">
    <mat-icon>open_in_new</mat-icon>
  </a>
  <button
    (click)="openSettings()"
    mat-button
    title="open settings">
    <mat-icon>settings</mat-icon>
  </button>
</div>
<div class="host-wrapper">
  <mat-tab-group
    (selectedTabChange)="changeRoundTab($event)"
    [selectedIndex]="1"
    class="host-tabs">
    <mat-tab disabled label=""></mat-tab>
    <mat-tab
      *ngFor="let round of getGame().rounds"
      [label]="round.title">
      <mat-grid-list
        [cols]="round.categories.length + 1"
        class="board-grid"
        rowHeight="480px">
        <mat-grid-tile
          colspan="1"
          rowspan="1">
          <form
            class="editor-form">
            <mat-form-field
              class="done-counter">
              <input
                [value]="'done: ' + doneQuestionsCount()"
                disabled
                label="category"
                matInput
                title="number of played questions">
            </mat-form-field>
            <button
              (click)="pickFiles()"
              mat-icon-button
              [title]="hasFiles() ? 'asset folder connected': 'choose asset folder'">
              <mat-icon>{{hasFiles() ? 'snippet_folder' : 'create_new_folder'}}</mat-icon>
            </button>
            <button
              (click)="resetStates()"
              mat-icon-button
              title="reset pending questions to open">
              <mat-icon>undo</mat-icon>
            </button>
            <button
              (click)="saveGame()"
              mat-icon-button
              title="save and sync game">
              <mat-icon>save</mat-icon>
            </button>
            <mat-form-field
              *ngFor="let tier of round.tiers">
              <mat-label>tier {{tier.tier}}</mat-label>
              <input
                [(ngModel)]="tier.points"
                [ngModelOptions]="{standalone: true}"
                label="weight"
                matInput>
            </mat-form-field>
          </form>
        </mat-grid-tile>
        <mat-grid-tile
          *ngFor="let category of round.categories"
          colspan="1"
          rowspan="1">
          <form class="editor-form">
            <mat-form-field>
              <input
                [(ngModel)]="category.title"
                [ngModelOptions]="{standalone: true}"
                label="category"
                matInput>
            </mat-form-field>
            <ng-container
              *ngFor="let question of category.questions">
              <mat-form-field>
                <mat-label>{{getPointsForQuestion(question)}}</mat-label>
                <input
                  [(ngModel)]="question.title"
                  [ngModelOptions]="{standalone: true}"
                  (focusin)="focusQuestion(question)"
                  label="question"
                  matInput>
              </mat-form-field>
              <button
                (click)="playQuestion(question)"
                [title]="question.stateTitle()"
                mat-icon-button>
                <mat-icon
                  [innerText]="question.stateIcon()">block
                </mat-icon>
              </button>
            </ng-container>
          </form>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

  </mat-tab-group>

  <div
    *ngIf="getGame().players as players">
    <hr
      *ngIf="players.length"
      class="host-divider">
    <div
      *ngFor="let player of players"
      class="host-players">
      <mat-form-field
        class="player-points">
        <mat-label>{{player.name}}</mat-label>
        <input
          [(ngModel)]="player.points"
          [ngModelOptions]="{standalone: true}"
          label="points"
          matInput>
      </mat-form-field>
    </div>
  </div>

  <div
    *ngIf="getCurrentQuestion() as question"
    class="current-question">
    <hr class="host-divider">
    <mat-form-field appearance="fill">
      <mat-label>{{getPointsForQuestion(question)}}</mat-label>
      <textarea
        [(ngModel)]="question.title"
        matInput
        rows="5">
      </textarea>
    </mat-form-field>
    <div
      *ngFor="let url of question.getURLs()"
      class="host-media">
      <span
        *ngIf="getAssetManager().resolveURL(url) as media">
        <img
          *ngIf="media.type === 'image'"
          [src]="sanitize(media.url)"
          width="200">
        <video
          *ngIf="media.type === 'video'"
          muted
          controls
          width="200">
          <source
            [src]="sanitize(media.url)" type="video/mp4">
        </video>
      </span>
    </div>

  </div>

  <div
    *ngIf="getSoundboard() as medias">
    <hr
      *ngIf="medias"
      class="host-divider">
    <div
      *ngFor="let media of medias"
      class="sound-bar">
      <span>{{media.name}}</span>
      <audio controls>
        <source [src]="sanitize(media.url)" type="audio/mpeg">
      </audio>
    </div>
  </div>

</div>
