<mat-grid-list
  *ngIf="getCurrentRound()"
  [cols]="getCurrentRound().categories.length"
  [rowHeight]="100 / (2 + getCurrentRound().maxQuestions()) + '%'"
  class="board-grid">
  <mat-grid-tile
    *ngFor="let category of getCurrentRound().categories"
    class="board-header"
    colspan="1"
    rowspan="1">
    {{category.title}}
  </mat-grid-tile>
  <mat-grid-tile
    *ngFor="let question of getCurrentRound().questionsInOrder(); let i = index"
    [class]="'board-tile board-tile-' + question.stateString() + ' board-tile-' + getQuestionOddEven(i)"
    colspan="1"
    rowspan="1">
    {{getCurrentRound().getPointsForTier(question.tier)}}
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="getCurrentRound().categories.length"
    rowspan="1">
    <mat-chip-list>
      <mat-chip
        *ngFor="let player of getPlayers()"
        class="player-chip">
        <div
          *ngIf="player.assetUrl"
          [style]="'background-image: url(\'' + player.assetUrl + '\')'"
          class="player-avatar">
        </div>
        <span
          class="player-title">
          {{player.name}}: {{player.points}}
        </span>
      </mat-chip>
    </mat-chip-list>
  </mat-grid-tile>
</mat-grid-list>

<div
  *ngIf="getCurrentMedia() as media"
  class="popup-stage">
  <div
    class="popup-card">
    <img
      *ngIf="media.type === 'image'"
      [src]="media.url">
    <video
      *ngIf="media.type === 'video'"
      autoplay>
      <source
        [src]="media.url" type="video/mp4">
    </video>
  </div>
</div>
