.mat-grid-list {
  background-color: #0439D9;
  margin: 10px 20px 0px;
}

.board-grid {
  cursor: pointer;
}

.board-header {
  font-size: x-large;
  text-transform: uppercase;
  background-color: #EA213E;
  text-align: center;
}

.board-header, .board-tile {
  box-shadow: inset 2px 2px 0 #0439D9;
}

.board-tile {
  background-color: #056CF2;
  font-size: xxx-large;
}

.board-tile-done {
  background-color: #07038C;
  color: #0439D9;
}

.player-chip {
  font-size: medium;
  background-color: #EA213E;
  color: #F9F9F9;
}

.popup-stage {
  position: absolute;
  top: 0;
  width: 100%;
}

.popup-card {
  margin: 6% 24%;
}

.popup-card img, .popup-card video {
  width: 100%;
  border: 2px solid #0439D9;
}
