@import '~@angular/material/theming';

@include mat-core();

$nerq-primary: mat-palette($mat-indigo);
$nerq-accent: mat-palette($mat-red, A200, A100, A400);
$nerq-warn: mat-palette($mat-yellow);
$nerq-theme: mat-light-theme((
  color: (
    primary: $nerq-primary,
    accent: $nerq-accent,
    warn: $nerq-warn,
  )
));
@include angular-material-theme($nerq-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #0439D9;
  color: #F9F9F9;
  overflow: hidden;
}

// full red #EA213E
// dark blue #07038C
// mid blue #0439D9
// light blue #056CF2
// text white #F9F9F9
