@import '~@angular/material/theming';

@include mat-core();

$nerq-primary: mat-palette($mat-amber);
$nerq-accent: mat-palette($mat-cyan, A200, A100, A400);
$nerq-warn: mat-palette($mat-pink);
$nerq-theme: mat-light-theme((
  color: (
    primary: $nerq-primary,
    accent: $nerq-accent,
    warn: $nerq-warn,
  )
));
@include angular-material-theme($nerq-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(173,188,173);
}
