::ng-deep .cdk-overlay-pane {
  width: 50%;
}

.settings-save-wrapper {
  text-align: right;
}

.settings-section {
  display: inline-block;
  background-color: #F2F2F2;
  vertical-align: top;
  padding: 12px 4px 0 6px;
}

.space-right {
  margin-right: 25px;
}

.space-below {
  margin-bottom: 20px;
}
